* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v23_1736 {
  width: 360px;
  height: 1304px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v44_16 {
  width: 360px;
  height: 100%;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
}
.v67_5 {
  width: 144px;
  height: 81px;
  background: url("../images/v67_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1189px;
  left: 108px;
  overflow: hidden;
}
.v67_6 {
  width: 144px;
  height: 26px;
  background: url("../images/v67_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v67_7 {
  width: 144px;
  height: 26px;
  background: rgba(187,183,141,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_8 {
  width: 113px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 5px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_9 {
  width: 55px;
  height: 55px;
  background: url("../images/v67_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 45px;
  overflow: hidden;
}
.v44_11 {
  width: 312px;
  height: 311px;
  background: url("../images/v44_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 878px;
  left: 23px;
  overflow: hidden;
}
.v44_12 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_7551 {
  width: 312px;
  height: 76px;
  background: url("../images/v22_7551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 437px;
  left: 25px;
  overflow: hidden;
}
.v22_7552 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 0px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_7553 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v44_7 {
  width: 312px;
  height: 298px;
  background: url("../images/v44_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 24px;
  overflow: hidden;
}
.v67_4 {
  width: 310px;
  height: 211px;
  background: url("../images/v67_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 25px;
  overflow: hidden;
}
.v22_7506 {
  width: 360px;
  height: 78px;
  background: url("../images/v22_7506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_7507 {
  width: 360px;
  height: 78px;
  background: rgba(51,51,49,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_2 {
  width: 33px;
  height: 66px;
  background: url("../images/v67_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 40px;
  overflow: hidden;
}
.v67_3 {
  width: 60px;
  height: 60px;
  background: url("../images/v67_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 275px;
  overflow: hidden;
}
.v22_7549 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 115px;
  left: 24px;
  font-family: Eras Medium ITC;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
