* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v23_1796 {
  width: 100%;
  height: 1206px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_197 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 3px;
}
.v9_215 {
  width: 56px;
  height: 48px;
  background: url("../images/v9_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 1525px;
  overflow: hidden;
}
.v9_216 {
  width: 0px;
  height: 0px;
  background: url("../images/v9_216.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 11px;
}
.v9_217 {
  width: 8px;
  height: 34px;
  background: url("../images/v9_217.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
}
.v9_218 {
  width: 10px;
  height: 10px;
  background: url("../images/v9_218.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 35px;
}
.v9_219 {
  width: 7px;
  height: 4px;
  background: url("../images/v9_219.png");
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 46px;
}
.v9_220 {
  width: 0px;
  height: 0px;
  background: url("../images/v9_220.png");
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 54px;
}
.v9_221 {
  width: 0px;
  height: 0px;
  background: url("../images/v9_221.png");
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 55px;
}
.v9_222 {
  width: 56px;
  height: 46px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v9_223 {
  width: 18px;
  height: 24px;
  background: url("../images/v9_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 31px;
  overflow: hidden;
}
.v9_224 {
  width: 17px;
  height: 23px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v9_225 {
  width: 18px;
  height: 24px;
  background: url("../images/v9_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_226 {
  width: 17px;
  height: 23px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v9_227 {
  width: 10px;
  height: 11px;
  background: url("../images/v9_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v9_228 {
  width: 10px;
  height: 11px;
  background: url("../images/v9_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_229 {
  width: 10px;
  height: 11px;
  background: url("../images/v9_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_230 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 5px;
}
.v9_231 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
}
.v9_232 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
}
.v9_233 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
}
.v9_234 {
  width: 10px;
  height: 11px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v9_235 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
}
.v9_236 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 4px;
}
.v9_237 {
  width: 18px;
  height: 24px;
  background: url("../images/v9_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_238 {
  width: 18px;
  height: 24px;
  background: url("../images/v9_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_239 {
  width: 18px;
  height: 24px;
  background: url("../images/v9_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_240 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v9_241 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v9_242 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v9_243 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 17px;
}
.v9_244 {
  width: 18px;
  height: 24px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v9_245 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 16px;
}
.v9_246 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v9_198 {
  width: 661px;
  height: 243px;
  background: url("../images/v9_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 124px;
  overflow: hidden;
}
.v11_4175 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Eras Light ITC;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v9_199 {
  width: 661px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v44_9 {
  width: 480px;
  height: 358px;
  background: url("../images/v44_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 1124px;
  overflow: hidden;
}
.v44_10 {
  width: 480px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: American Typewriter;
  font-weight: Condensed;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v44_2 {
  width: 480px;
  height: 472px;
  background: url("../images/v44_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 1124px;
  overflow: hidden;
}
.v22_7457 {
  width: 404px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 97px;
  left: 124px;
  font-family: Eras Medium ITC;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v56_168 {
  width: 72px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1536px;
  overflow: hidden;
}
.v56_169 {
  width: 56px;
  height: 48px;
  background: url("../images/v56_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 7px;
  overflow: hidden;
}
.v56_170 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_170.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 11px;
}
.v56_171 {
  width: 8px;
  height: 34px;
  background: url("../images/v56_171.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
}
.v56_172 {
  width: 10px;
  height: 10px;
  background: url("../images/v56_172.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 35px;
}
.v56_173 {
  width: 7px;
  height: 4px;
  background: url("../images/v56_173.png");
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 46px;
}
.v56_174 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_174.png");
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 54px;
}
.v56_175 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_175.png");
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 55px;
}
.v56_176 {
  width: 56px;
  height: 46px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v56_177 {
  width: 18px;
  height: 24px;
  background: url("../images/v56_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 31px;
  overflow: hidden;
}
.v56_178 {
  width: 17px;
  height: 23px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_179 {
  width: 18px;
  height: 24px;
  background: url("../images/v56_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_180 {
  width: 17px;
  height: 23px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_181 {
  width: 10px;
  height: 11px;
  background: url("../images/v56_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v56_182 {
  width: 10px;
  height: 11px;
  background: url("../images/v56_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_183 {
  width: 10px;
  height: 11px;
  background: url("../images/v56_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_184 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 5px;
}
.v56_185 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
}
.v56_186 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
}
.v56_187 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
}
.v56_188 {
  width: 10px;
  height: 11px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_189 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
}
.v56_190 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 4px;
}
.v56_191 {
  width: 18px;
  height: 24px;
  background: url("../images/v56_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_192 {
  width: 18px;
  height: 24px;
  background: url("../images/v56_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_193 {
  width: 18px;
  height: 24px;
  background: url("../images/v56_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_194 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v56_195 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v56_196 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v56_197 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 17px;
}
.v56_198 {
  width: 18px;
  height: 24px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_199 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 16px;
}
.v56_200 {
  width: 0px;
  height: 0px;
  background: rgba(255,255,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v67_20 {
  width: 63px;
  height: 63px;
  background: url("../images/v67_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 23px;
  overflow: hidden;
}
.v67_22 {
  width: 144px;
  height: 81px;
  background: url("../images/v67_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1088px;
  left: 792px;
  overflow: hidden;
}
.v67_23 {
  width: 144px;
  height: 26px;
  background: url("../images/v67_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v67_24 {
  width: 144px;
  height: 26px;
  background: rgba(187,183,141,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_25 {
  width: 113px;
  color: rgba(51,51,49,1);
  position: absolute;
  top: 5px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_26 {
  width: 55px;
  height: 55px;
  background: url("../images/v67_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 45px;
  overflow: hidden;
}
.v9_212 {
  width: 100%;
  height: 78px;
  background: url("../images/v9_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v9_213 {
  width: 100%;
  height: 78px;
  background: rgba(51,51,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_19 {
  width: 150px;
  height: 53px;
  background: url("../images/v67_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 123px;
  overflow: hidden;
}
.v67_21 {
  width: 63px;
  height: 63px;
  background: url("../images/v67_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1519px;
  overflow: hidden;
}
.v67_27 {
  width: 981px;
  height: 658px;
  background: url("../images/v67_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 125px;
  overflow: hidden;
}
